{% extends "layout.html.twig" %}

{% block header %}
    {% include "partials/_header.html.twig" %}
{% endblock %}

{% block main %}

<main>

    <h1>Mes projets</h1>

    <pre>

{{ dump(projects) }}

    </pre>

</main>

{% endblock %}

{% block footer %}
    {% include "partials/_footer.html.twig" %}
{% endblock %}