<header class="header">

    <a href="index.php?route=home" class="logo">
        Alexis
    </a>

    <nav>

        <a href="index.php?route=home">
            Accueil
        </a>

        <a href="index.php?route=projects">
            Projets
        </a>

        <a href="index.php?route=contact">
            Contact
        </a>

    </nav>

</header>