.background {
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: -1;

    background: radial-gradient(circle at center,
            #171c2c 0%,
            #0b0d14 100%);
}

.particle {

    position: absolute;

    border-radius: 50%;

    background: white;

    opacity: 0;

    will-change: transform, opacity;

    animation:
        fade ease-in-out infinite,
        float ease-in-out infinite;
}

@keyframes fade {

    0%,
    100% {
        opacity: 0;
    }

    25% {
        opacity: var(--opacity);
    }

    75% {
        opacity: var(--opacity);
    }
}

@keyframes float {

    0% {
        transform: translate(0,0);
    }

    25% {
        transform: translate(var(--x1), var(--y1));
    }

    50% {
        transform: translate(var(--x2), var(--y2));
    }

    75% {
        transform: translate(var(--x3), var(--y3));
    }

    100% {
        transform: translate(0,0);
    }
}